@*@model List<SaveFestival>

<h1 class="text-white">My Favorite Festivals</h1>

<ul>
    @foreach (var savedFestival in Model)
    {
        <li class="text-white">@savedFestival.Festival.Name</li>
    }
</ul>
*@