@using Festival_Finder.ViewModel
@model EditArtistViewModel

<div class="container">
<h3 class="text-white mt-5">Edit Artist</h3>
</div>

<div class="p3-5 container">
    <form method="post">

        <div class="mb-3">
            <input type="hidden" asp-for="Id"/>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="mb-3">
                <label class="form-label text-white">Name</label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>
        }
        else
        {
            <div class="mb-3">
                <label class="form-label text-white">Name</label>
                <input type="text" asp-for="Name" class="form-control" disabled/>
            </div>
        }
        

        @if (User.IsInRole("Admin"))
        {
            <div>
                <div class="d-flex">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="submit" class="btn btn-danger ms-3" asp-controller="Artist" asp-action="Delete">Delete</button>
                </div>
            </div>
        }
        

    </form>
</div>